@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local("Almarai-Regular"), url(/fonts/Almarai-Regular.ttf) format('truetype');
    }
}


body {
    direction: rtl;
    font-family: "Almarai";
}